@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
	background-color: #fbfbfb !important;
}
/*---------------------
  Listing Carrusel
-----------------------*/
.card-img-top {
	height: 150px;
	object-fit: cover;
}
.card-title{
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	font-weight: 600;
}
.carouselTitle {
	background: rgba(0,0,0,0.7);
	text-shadow: 0 1px 2px #000;
	position: absolute;
	bottom: 20px;
	left: 0px;
}
.carouselTitleText{
	font-family: 'Montserrat', sans-serif;
	font-size: 20pt;
	font-weight: 600;
	color: white;
	padding-top: 5px;
	padding-left: 15px;
}
.carouselText{
	font-family: 'Montserrat', sans-serif;
	font-size: 15pt;
	font-weight: 500;
	color: white;
	padding-right: 15px;
	padding-left: 15px;
}
.carousel {
	display: block;
	text-align: left;
	position: relative;
	margin-bottom: 22px;
  }
  .carousel > input {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
  }
  .carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
	margin-left: -500%;
  }
  .carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
	margin-left: -400%;
  }
  .carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
	margin-left: -300%;
  }
  .carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
	margin-left: -200%;
  }
  .carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
	margin-left: -100%;
  }
  .carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
	margin-left: 0%;
  }
  .carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
	box-shadow: 0px 0px 0px 5px #ff1420d0;
  }
  .carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
	box-shadow: 0px 0px 0px 5px #ff1420d0;
  }
  .carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
	box-shadow: 0px 0px 0px 5px #ff1420d0;
  }
  .carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
	box-shadow: 0px 0px 0px 5px #ff1420d0;
  }
  .carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
	box-shadow: 0px 0px 0px 5px #ff1420d0;
  }
  .carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
	box-shadow: 0px 0px 0px 5px #ff1420d0;
  }
  
  .carousel__slides {
	position: relative;
	z-index: 1;
	padding: 0;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
	display: flex;
  }
  
  .carousel__slide {
	position: relative;
	display: block;
	flex: 1 0 100%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 300ms ease-out;
	vertical-align: top;
	box-sizing: border-box;
	white-space: normal;
  }
  .carousel__slide figure {
	display: flex;
	margin: 0;
  }
  .carousel__slide div {
	position: relative;
	width: 100%;
  }
  .carousel__slide div:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 66.6666666667%;
  }
  .carousel__slide div > img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
  }
  .carousel__slide img {
	display: block;
	flex: 1 1 auto;
	object-fit: cover;
  }
  .carousel__slide figcaption {
	align-self: flex-end;
	padding: 20px 20px 0 20px;
	flex: 0 0 auto;
	width: 25%;
	min-width: 150px;
  }
  .carousel__slide .credit {
	margin-top: 1rem;
	color: rgba(0, 0, 0, 0.5);
	display: block;
  }
  .carousel__slide.scrollable {
	overflow-y: scroll;
  }
  
  .carousel__thumbnails {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	margin: 0 -10px;
  }
  .carousel__slides + .carousel__thumbnails {
	margin-top: 20px;
  }
  .carousel__thumbnails li {
	flex: 1 1 auto;
	max-width: calc((100% / 6) - 20px);
	margin: 0 10px;
	transition: all 300ms ease-in-out;
  }
  .carousel__thumbnails label {
	display: block;
	position: relative;
  }
  .carousel__thumbnails label:before {
	display: block;
	content: "";
	width: 100%;
	padding-top: 100%;
  }
  .carousel__thumbnails label > img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
  }
  .carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
	cursor: pointer;
  }
  .carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
	transition: all 300ms ease-in-out;
  }
  .carousel__thumbnails img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }




.spad {
	padding-top: 50px;
	padding-bottom: 50px;
}
/*---------------------
  Listing
-----------------------*/

.nice-scroll {
	height: 100%;
	overflow-y: hidden;
}

.listing__text__top {
	overflow: hidden;
	margin-bottom: 25px;
}

.listing__text__top__left {
	float: left;
}

.listing__text__top__left h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #323232;
	font-weight: 600;
	display: inline-block;
	margin-right: 15px;
}

.listing__text__top__left span {
	font-size: 15px;
	color: #707070;
	display: inline-block;
}

.listing__text__top__right {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #323232;
	float: right;
}

.listing__text__top__right i {
	font-size: 16px;
	margin-left: 6px;
}

.listing {
	width: 55%;
	height: 100%;
	padding: 0 40px;
	padding-top: 140px;
	overflow-y: auto;
	float: left;
}

.listing .listing__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -30px;
}

.listing .listing__list .listing__item {
	max-width: calc(50% - 30px);
	float: left;
	margin-right: 30px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	width: 100%;
	height: 100%;
}

.listing__item {
	-webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
}

.listing__item__pic {
	height: 260px;
	position: relative;
}

.listing__item__pic img {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 30px;
	bottom: -30px;
	border-radius: 50%;
}

.listing__item__pic__tag {
	font-size: 12px;
	color: #ffffff;
	background: #f03250;
	font-weight: 600;
	display: inline-block;
	padding: 5px 15px 5px 10px;
	border-radius: 2px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.listing__item__pic__tag.top_rate {
	background: #00a7ea;
}

.listing__item__pic__tag.hot_deal {
	background: #D9D137;
}

.listing__item__pic__btns {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.listing__item__pic__btns a {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #ffffff;
	height: 34px;
	width: 34px;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	line-height: 34px;
	text-align: center;
	display: inline-block;
	margin-right: 6px;
}

.listing__item__pic__btns a:last-child {
	margin-right: 0;
}

.listing__item__text {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
}

.listing__item__text__inside h5 {
	font-size: 20px;
	color: #323232;
	font-weight: 600;
	margin-bottom: 6px;
}

.listing__item__text__inside ul {
	margin-bottom: 20px;
}

.listing__item__text__inside ul li {
	font-size: 15px;
	color: #323232;
	list-style: none;
	line-height: 25px;
	position: relative;
	padding-left: 25px;
}

.listing__item__text__inside ul li span {
	color: #A8A8A8;
	position: absolute;
	left: 0;
	top: 5px;
}

.listing__item__text__rating {
	overflow: hidden;
	margin-bottom: 15px;
}

.listing__item__text__rating .listing__item__rating__star {
	float: left;
}

.listing__item__text__rating .listing__item__rating__star span {
	font-size: 14px;
	color: #F09D17;
	margin-right: -3px;
}

.listing__item__text__rating .listing__item__rating__star span:last-child {
	margin-right: 0;
}

.listing__item__text__rating h6 {
	font-size: 15px;
	color: #f03250;
	font-weight: 600;
	float: right;
}

.listing__item__text__info {
	padding: 10px 30px;
	border-top: 1px solid #e1e1e1;
	overflow: hidden;
	margin-left: -30px;
	margin-right: -30px;
}

.listing__item__text__info__left {
	float: left;
}

.listing__item__text__info__left img {
	display: inline-block;
	margin-right: 10px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
}

.listing__item__text__info__left span {
	font-size: 14px;
	color: #323232;
	font-weight: 600;
}

.listing__item__text__info__right {
	float: right;
	font-size: 14px;
	color: #50D437;
	font-weight: 700;
	padding-top: 4px;
}

.listing__item__text__info__right.closed {
	color: #f03250;
}

.listing__map {
	height: 100%;
	width: 45%;
	margin-top: 105px;
	float: left;
}

.listing__map iframe {
	width: 100%;
	height: 100%;
}

/*---------------------
  Listing Barra
-----------------------*/

.listing-bar {
	padding-top: 150px;
	padding-bottom: 40px;
}

.listing__bar__icon {
	float: left;
	margin-right: 30px;
}

.bar__icon{
	width: 140px;
    height: 140px;
}

.listing__bar__text {
	overflow: hidden;
}

.listing__bar__text h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 38px;
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 6px;
}

.listing__bar__text p {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #E1DEDE;
}

.listing__bar__text p span {
	color: #E1DEDE;
	font-weight: 500;
	margin-right: 5px;
}

.listing__bar__widget .listing__bar__widget__rating {
	display: inline-block;
	margin-right: 40px;
	position: relative;
	margin-bottom: 15px;
}

.listing__bar__widget .listing__bar__widget__rating:before {
	position: absolute;
	right: -27px;
	top: 11px;
	height: 1px;
	width: 4px;
	background: #ffffff;
	content: "";
}

.listing__bar__widget .listing__bar__widget__rating span {
	font-size: 15px;
	color: #F09D17;
	margin-right: -3px;
	display: inline-block;
}

.listing__bar__widget div {
	font-size: 15px;
	color: #E1DEDE;
	display: inline-block;
}

.listing__bar__btns {
	text-align: right;
	padding-top: 85px;
}

.listing__bar__btns .primary-btn {
	font-size: 15px;
}

.listing__bar__btns .primary-btn.share-btn {
	background: rgba(255, 255, 255, 0.2);
	margin-right: 6px;
}

.listing__bar__btns .primary-btn i {
	margin-right: 5px;
}

/*---------------------
  Listing Details
-----------------------*/

.listing__details__about {
	margin-bottom: 35px;
}

.listing__details__about h4 {
	font-family: 'Montserrat', sans-serif;
	color: #323232;
	font-weight: 650;
	margin-bottom: 18px;
}

.listing__details__about p {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 500;
	color: #505050;
	line-height: 25px;
	margin-bottom: 0;
}

.listing__details__gallery {
	border-top: 1px solid #e1e1e1;
	padding-top: 12px;
	margin-bottom: 50px;
}

.listing__details__gallery h4 {
	font-family: 'Montserrat', sans-serif;
	color: #323232;
	font-weight: 650;
	margin-bottom: 18px;
}

.listing__details__gallery__item {
	margin-bottom: 20px;
	position: relative;
}

.listing__details__gallery__item span {
	display: block;
	font-size: 15px;
	color: #ffffff;
	position: absolute;
	left: 20px;
	bottom: 20px;
}

.listing__details__gallery__item span i {
	margin-right: 5px;
}

.listing__details__gallery__item__large {
	min-width: 100%;
}

.listing__details__gallery__slider img {
	cursor: pointer;
}

/*---------------------
  Listing Sidebar
-----------------------*/

.listing__sidebar__contact {
	-webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.105);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.105);
	background: #ffffff;
	margin-bottom: 35px;
	border-radius: 5px;
}

.listing__sidebar__contact__text {
	padding: 34px 30px 30px 30px;
	background:#fff;
	border-radius:10px;
  }
  .listing__sidebar__contact__text h4 {
	font-family: 'Montserrat', sans-serif;
	color: #e41b25;
	font-size:15pt;
	font-weight: 650;
	margin-bottom: 30px;
  }
  .listing__sidebar__contact__text ul {
	margin-bottom: 20px;
  }

  .listing__sidebar__contact__text ul li {
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	font-size: 11pt;
	font-weight: 500;
	color: #505050;
	position: relative;
	padding-left: 25px;
	margin-bottom: 20px;
  }

  .listing__sidebar__contact__text ul li:last-child {
	margin-bottom: 0;
  }

  .listing__sidebar__contact__text ul li span {
	color: #f03250;
	margin-right: 5px;
	position: absolute;
	left: 0;
	top: 3px;
  }

.listing__sidebar__contact__social a {
	font-weight: 500;
	display: inline-block;
	font-size: 16px;
	color: #ffffff !important;
	text-decoration: none !important;
	height: 28px;
	width: 28px;
	line-height: 29px;
	text-align: center;
	background: #3D589F;
	border-radius: 50%;
	margin-right: 6px;
  }

  .listing__sidebar__contact__social a:last-child {
	margin-right: 0;
  }

  .listing__sidebar__contact__social a.instagram {
   /* background: #64ADF3;*/
   background: linear-gradient(200deg, rgba(81,91,212,1) 0%, rgba(129,52,175,1) 25%, rgba(221,42,123,1) 50%, rgba(254,218,119,1) 75%, rgba(245,133,41,1) 100%);
  }

  .listing__sidebar__contact__social a.twitter {
	background: #55acee;
  }

  .listing__sidebar__contact__social a.youtube {
	background: #ff0000;
  }
  .listing__sidebar__contact__social a.whatsapp {
	background: #0fb923;
  }

  .listing__sidebar__contact__social a.rrss {
	background: #ff7b0a;
  }

.listing__sidebar__working__hours {
	background: #ffffff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
	padding: 30px 30px 20px 30px;
}

.listing__sidebar__working__hours h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15pt;
	color: #e41b25;
	font-weight: 650;
	margin-bottom: 30px;
}

.listing__sidebar__working__hours ul li {
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
	font-weight: 550;
	list-style: none;
	color: #505050;
	line-height: 32px;
}

.listing__sidebar__working__hours ul li span {
	float: right;
}

.listing__sidebar__working__hours ul li span.opening {
	color: #50D437;
}

.listing__sidebar__working__hours ul li span.closed {
	color: #f03250;
}

.listing__details__table{
	font-family: 'Montserrat', sans-serif;
	font-size:13pt;
	font-weight:500;
	color: #505050;
	line-height: 25px;
	margin-bottom: 18px;
  }
.check{
	color: #ff1420;
}
.listing__table{
	font-family: 'Montserrat', sans-serif;
	font-size:10pt;
	font-weight:500;
	color: #505050;
	line-height: 40px;
	margin-bottom: 18px;
  }

  .sect-text h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 6px;
}

.sect-text p {
	font-size: 15px;
	color: #fff;
}
.sect-desc {
	margin-bottom: 35px;
}

.sect-desc h4 {
	font-family: "Montserrat", sans-serif;
	font-size: 20pt;
	color: #323232;
	font-weight: 600;
	margin-bottom: 18px;
}

.sect-desc p {
	font-family: "Montserrat", sans-serif;
	text-align: justify;
	color: #47433F;
	font-size: 12pt;
	line-height: 25px;
	margin-bottom: 0;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1400px) and (max-width: 1920px) {

}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

@media only screen and (max-width: 1366px) {
	.listing {
		width: 65%;
	}
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.listing {
		width: 60%;
	}
	.listing .listing__list {
		display: block;
		margin-right: 0;
	}
	.listing .listing__list .listing__item {
		max-width: 100%;
	}
	.listing__bar__btns .primary-btn {
		padding: 12px 22px 10px;
	}
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.listing {
		width: 60%;
	}
	.listing .listing__list {
		display: block;
		margin-right: 0;
	}
	.listing .listing__list .listing__item {
		max-width: 100%;
	}
	.listing__item__text {
		padding-left: 15px;
		padding-right: 15px;
	}
	.listing__bar__btns {
		text-align: left;
		padding-top: 30px;
	}
	.listing__sidebar {
		padding-top: 50px;
	}
	.listing__text__top__left {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.listing__text__top__right {
		float: none;
		text-align: center;
	}
}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {
	.header .container-fluid {
		position: relative;
	}
	.listing {
		width: 100%;
		height: auto;
		padding-top: 45px;
	}
	.listing .listing__list {
		display: block;
		margin-right: 0;
	}
	.listing .listing__list .listing__item {
		max-width: 100%;
	}
	.listing__bar__btns {
		text-align: left;
		padding-top: 30px;
	}
	.listing__sidebar {
		padding-top: 50px;
	}
}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {

	.listing__bar__icon {
		float: none;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.listing__bar__btns .primary-btn {
		padding: 12px 20px 10px;
	}
	.listing__details__rating__overall {
		text-align: left;
		float: none;
		margin-right: 0;
		margin-bottom: 30px;
	}
	.listing__text__top__left {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.listing__text__top__right {
		float: none;
		text-align: center;
	}
	.listing__details__comment__item__pic {
		float: none;
		margin-bottom: 15px;
	}
}